button.oe_button.oe_form_button.trace.oe_highlight {
  background-color: #c02c2c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
  background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  color : white;
}


button.oe_button.oe_form_button.trace.oe_highlight:hover {
  background-color: #c02c2c;
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
  background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  color : white;
}
